@import "tailwindcss";

#root {
    margin: 0;
}

body {
    margin: 0;
}

.sx-react-calendar-wrapper {
    height: 750px;
    max-height: 80vh;
}

.sx__month-grid-day.sx__sunday {
    background-color: red;
}