@import "tailwindcss";

#root {
    margin: 0;
}

body {
    margin: 0;
}

.sx-react-calendar-wrapper {
    height: 550px;
    max-height: 80vh;
}

.sx__month-grid-day__events > div {
    cursor: pointer;
}